// Containers
body {
  background: #f6f6f6;
}

header {
  color: #fff;
  text-align: center;
  background: linear-gradient(to right, #cc2b5e, #753a88);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding: 2rem 0 4rem 0;
}

.mainContent {
  padding: 0 1rem 0 1rem;
}

.appMenu {
  min-height: 4rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: .75rem;
}

.markAllWrapper {
  flex-basis: 50%;
}

.viewMenu {
  display: flex;
  flex-basis: 50%;
  justify-content: flex-end;
}

.addTaskWrapper {
  display: flex;
  align-items: center;
  background: #fff;
  padding: 1rem;
  margin-top: -2rem;
  border-radius: 0.65rem;
  box-shadow: 0 0.46875rem 2.1875rem rgba(59, 62, 102, .03), 0 0.9375rem 1.40625rem rgba(59, 62, 102, .03), 0 0.25rem 0.53125rem rgba(59, 62, 102, .05), 0 0.125rem 0.1875rem rgba(59, 62, 102, .03);
  ;
}

.view {
  position: relative;
  margin-bottom: 1rem;
  background: #fff;
  padding: 2rem;
  border-radius: 0.65rem;
  border-left: solid 4px #d53068;
  box-shadow: 0 0.46875rem 2.1875rem rgba(59, 62, 102, .03), 0 0.9375rem 1.40625rem rgba(59, 62, 102, .03), 0 0.25rem 0.53125rem rgba(59, 62, 102, .05), 0 0.125rem 0.1875rem rgba(59, 62, 102, .03);
  ;
}

.todoDataContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (min-width: 767px) {
    flex-direction: row;
  }
}

.badgesContainer {
  flex-basis: 40%;
  flex-grow: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  align-content: flex-start;
  margin-top: -.5rem;

  @media (max-width: 767px) {
    flex-basis: 100%;
    margin-top: 1rem;
    justify-content: flex-start;
  }
}
.titleContainer {
  flex-basis: 60%;
  flex-grow: 0;

}

.editInput.textInput {
  display: none;
}

.editing {
  & .hideOnEdit {
    display: none;
  }

  & .editInput.textInput {
    display: block;
  }
}

.selectViewContainer {
  display: flex;
  flex-basis: 100%;
  justify-content: flex-end;

  & a {
    display: inline-block;

    &:not(:first-child) {
      margin-left: .5rem;
    }
  }
}

.actionsContainer {
  display: flex;
  justify-content: space-between;
}

.info {
  text-align: center;
  font-size: .75rem;
  padding-top: 2rem;

  & p {
    line-height: 1;
    margin-top: .25rem;
    margin-bottom: .25rem;
  }
}