
// Typography
h1 {
  font-size: 3rem;
  letter-spacing: 0.25rem;
  margin: 0;
}
h2 {
  margin-top: 0;
}

a {
  color: dodgerblue;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

// Lists 

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}
